//==
// Creates float classes for each breakpoint.
//##
@mixin push($bp, $direction) {
    
    // XS doesn't have a min value.
    @if $bp == xs {

        .push-#{$bp}-#{$direction} {
            float: $direction!important;
        }

        @include bp-max($bp) {
            .push-#{$bp}-#{$direction}-only {
                float: $direction!important;
            }
        }
    }
    @else {

        @include bp-min($bp) {

            .push-#{$bp}-#{$direction} {
                float: $direction!important;
            }
            // Large doesn't need an "only" since it operates on min width.
            @if $bp != l {
                @include bp-max($bp) {
                    .push-#{$bp}-#{$direction}-only {
                        float: $direction!important;
                    }
                }
            }
        }
    }
}