//==
// Creates text align classes for each breakpoint.
//##
@mixin text-align($bp) {
    // XS doesn't have a min value.
    @if $bp == xxs {

        .text-#{$bp}-left {
            text-align: left;
        }

        .text-#{$bp}-right {
            text-align: right;
        }

        .text-#{$bp}-center {
            text-align: center;
        }

        @include bp-max($bp) {
            .text-#{$bp}-left-only {
                text-align: left;
            }

            .text-#{$bp}-right-only {
                text-align: right;
            }

            .text-#{$bp}-center-only {
                text-align: center;
            }
        }
    }
    @else {

        @include bp-min($bp) {

            .text-#{$bp}-left {
                text-align: left;
            }

            .text-#{$bp}-right {
                text-align: right;
            }

            .text-#{$bp}-center {
                text-align: center;
            }
            // Large doesn't need an "only" since it operates on min width.
            @if $bp != l {
                @include bp-max($bp) {
                    .text-#{$bp}-left {
                        text-align: left;
                    }

                    .text-#{$bp}-right {
                        text-align: right;
                    }

                    .text-#{$bp}-center {
                        text-align: center;
                    }
                }
            }
        }
    }
}
