<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler, dotless.Core" />
        <!-- Cruncher -->
        <sectionGroup name="cruncher">
            <section name="security" requirePermission="false" type="Cruncher.Config.CruncherSecuritySection, Cruncher" />
            <section name="processing" requirePermission="false" type="Cruncher.Config.CruncherProcessingSection, Cruncher" />
            <section name="cache" requirePermission="false" type="Cruncher.Config.CruncherCacheSection, Cruncher" />
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="webpages:Version" value="2.0.0.0" />
        <add key="webpages:Enabled" value="false" />
        <add key="PreserveLoginUrl" value="true" />
        <add key="ClientValidationEnabled" value="true" />
        <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    </appSettings>

    <system.web>

        <httpRuntime targetFramework="4.5" />

        <compilation debug="true" targetFramework="4.5" />

        <pages>
            <namespaces>
                <add namespace="System.Web.Helpers" />
                <add namespace="System.Web.Mvc" />
                <add namespace="System.Web.Mvc.Ajax" />
                <add namespace="System.Web.Mvc.Html" />
                <add namespace="System.Web.Routing" />
                <add namespace="System.Web.WebPages" />
            </namespaces>
        </pages>
        <httpHandlers>
            <!--The Cruncher CSS compression HttpHandler-->
            <add path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler, dotless.Core" />
            <!--The Cruncher JavaScipt compression HttpHandler-->
            <add verb="*" path="css.axd" type="Cruncher.HttpHandlers.CssHandler, Cruncher" validate="false" />
            <add verb="*" path="js.axd" type="Cruncher.HttpHandlers.JavaScriptHandler, Cruncher" validate="false" />
        </httpHandlers>
    </system.web>

    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />

        <handlers>
            <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
            <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
            <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
            <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
            <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
            <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
            <!--The Cruncher CSS compression HttpHandler-->
            <add name="dotless" path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler,dotless.Core" resourceType="File" preCondition="" />
            <!--The Cruncher JavaScipt compression HttpHandler-->
            <add name="CssHandler" verb="*" path="css.axd" type="Cruncher.HttpHandlers.CssHandler, Cruncher" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
            <add name="JavaScript" verb="*" path="js.axd" type="Cruncher.HttpHandlers.JavaScriptHandler, Cruncher" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
        </handlers>
    </system.webServer>
    <dotless minifyCss="false" cache="true" web="false" />
    <!-- Cruncher -->
    <cruncher>
        <!-- Whether to allow remote downloads -->
        <!-- The maximum allowed remote file size in bytes -->
        <!-- The remote file download timeout in milliseconds -->
        <security allowRemoteDownloads="true" maxBytes="524288" timeout="300000">
            <!--
      A list of white-listed urls from which we are allowed to download and process remote files.
      The token value allows us to add the file reference without the risk of hitting IEs 1024 
      character url limit.
      -->
            <whiteList>
                <add token="jquery" url="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" />
            </whiteList>
        </security>
        <processing>
            <!-- Whether to minify the css and js files and whether to compress the http response using gzip.-->
            <compression minifyCSS="true" minifyJS="true" compressResponse="true" />
            <!-- The comma separated virtual paths to the css and js folders.-->
            <virtualPaths cssPaths="~/responsive" jsPaths="~/responsive" />
        </processing>
        <!-- The number of days to store a client resource in the cache. -->
        <cache maxDays="365" />
    </cruncher>
</configuration>
