/* Responsive Alert v1.0.0 */

.alert {
    background-color: #FCF8E3;
    border: 1px solid #F2E187;
    color: #9C8611;
    margin-bottom: 1em;
    padding: 0 2.17em 0 1em;
}

    .alert:before, .alert:after {
        content: "";
        display: table;
    }

    .alert:after {
        clear: both;
    }

.alert-heading {
    color: inherit;
}

.alert .close {
    color: inherit;
    float: right;
    font-size: 1.17em;
    font-weight: bold;
    line-height: 1em;
    position: relative;
    right: -1.17em;
    text-decoration: none;
    top: 0.33em;
}

    .alert .close:hover {
        text-decoration: underline;
    }

.alert-success {
    background-color: #C5E6C5;
    border: 1px solid #A2D6A2;
    color: #347834;
}

.alert-warning {
    background-color: #FEE7C7;
    border: 1px solid #FCD296;
    color: #C17305;
}

.alert-error {
    background-color: #F4CAC8;
    border: 1px solid #EBA19E;
    color: #DA4F49;
}

.alert-info {
    background-color: #D9EDF7;
    border: 1px solid #85C5E5;
    color: #247FAD;
}

