/* Responsive Helpers */

/*
 * Responsive helpers to toggle visibility. 
 */

/*
 * Landscape phone to small desktop & portrait tablet viewport < 768px
 */
@media screen and (max-width: 767px) {

    .hidden-desktop {
        display: inherit !important;
    }

    .visible-desktop {
        display: none !important;
    }

    .visible-phone {
        display: inherit !important;
    }

    .hidden-phone {
        display: none !important;
    }
}

/*
 * Landscape tablet to default desktop: 769 > viewport < 980px
 */
@media screen and (min-width: 768px) and (max-width: 979px) {

    .hidden-desktop {
        display: inherit !important;
    }

    .visible-desktop {
        display: none !important;
    }

    .visible-tablet {
        display: inherit !important;
    }

    .hidden-tablet {
        display: none !important;
    }
}
