.masthead {
    font-size: 7.5em;
    letter-spacing: -2px;
    margin: .0933em 0;
}

/*
 * Force top navs to show on tablet 
 */

.top-nav ul {
    height: auto !important;
    padding-bottom: 1em;
}
