.masthead {
    font-size: 7.5em;
    letter-spacing: -2px;
    margin: .0933em 0;
}

/*
 * Force top navigation to show on larger displays.
 */
nav[role="navigation"] ul {
    height: auto !important;
}

nav[role="navigation"] a[data-dropdown-target=".css"],
nav[role="navigation"] a[data-dropdown-target=".js"] {
    cursor: text;
    text-decoration: none;
}

nav[role="navigation"] h2 {
    margin: 0.83em 0;
}
