.container {
    margin: 0 auto;
    /* Manages width in a single place */
    width: 1140px;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.row:before,
.row:after {
    content: "";
    display: table;
}

.row:after {
    clear: both;
}

/*column-s*/

.row [class*="column-"] {
    display: block;
    min-height: 1px;
    float: left;
}

    .row [class*="column-"] + [class*="column-"] {
        margin-left: 2%;
    }

/* columns */

/* 
 * Full width calculated with margins 
 */

.column-12 {
    width: 100%;
}

.column-11 {
    width: 91.5%;
}

.column-10 {
    width: 83%;
}

.column-9 {
    width: 74.5%;
}

.column-8 {
    width: 66%;
}

.column-7 {
    width: 57.5%;
}

.column-6 {
    width: 49%;
}

.column-5 {
    width: 40.5%;
}

.column-4 {
    width: 32%;
}

.column-3 {
    width: 23.5%;
}

.column-2 {
    width: 15%;
}

.column-1 {
    width: 6.5%;
}

/* 
 * No gutter margins 
 */

.no-gutter [class*="column-"] + [class*="column-"] {
    margin-left: 0;
}

.no-gutter .column-11 {
    width: 91.6667%;
}

.no-gutter .column-10 {
    width: 83.3333%;
}

.no-gutter .column-9 {
    width: 75%;
}

.no-gutter .column-8 {
    width: 66.6667%;
}

.no-gutter .column-7 {
    width: 58.3333%;
}

.no-gutter .column-6 {
    width: 50%;
}

.no-gutter .column-5 {
    width: 41.6667%;
}

.no-gutter .column-4 {
    width: 33.3333%;
}

.no-gutter .column-3 {
    width: 25%;
}

.no-gutter .column-2 {
    width: 16.6667%;
}

.no-gutter .column-1 {
    width: 8.3333%;
}

/* 
 * offsetting column-s 
 */

[class*="column-"].offset-11 {
    margin-left: 93.5%;
}

[class*="column-"].offset-10 {
    margin-left: 85%;
}

[class*="column-"].offset-9 {
    margin-left: 76.5%;
}

[class*="column-"].offset-8 {
    margin-left: 68%;
}

[class*="column-"].offset-7 {
    margin-left: 59.5%;
}

[class*="column-"].offset-6 {
    margin-left: 51%;
}

[class*="column-"].offset-5 {
    margin-left: 42.5%;
}

[class*="column-"].offset-4 {
    margin-left: 34%;
}

[class*="column-"].offset-3 {
    margin-left: 25.5%;
}

[class*="column-"].offset-2 {
    margin-left: 17%;
}

[class*="column-"].offset-1 {
    margin-left: 8.5%;
}

/* 
 * No gutter margins 
 */

.no-gutter [class*="column-"].offset-11 {
    margin-left: 91.6667%;
}

.no-gutter [class*="column-"].offset-10 {
    margin-left: 83.3333%;
}

.no-gutter [class*="column-"].offset-9 {
    margin-left: 75%;
}

.no-gutter [class*="column-"].offset-8 {
    margin-left: 66.6667%;
}

.no-gutter [class*="column-"].offset-7 {
    margin-left: 58.3333%;
}

.no-gutter [class*="column-"].offset-6 {
    margin-left: 50%;
}

.no-gutter [class*="column-"].offset-5 {
    margin-left: 41.6667%;
}

.no-gutter [class*="column-"].offset-4 {
    margin-left: 33.3333%;
}

.no-gutter [class*="column-"].offset-3 {
    margin-left: 25%;
}

.no-gutter [class*="column-"].offset-2 {
    margin-left: 16.6667%;
}

.no-gutter [class*="column-"].offset-1 {
    margin-left: 8.3333%;
}
