// General Styles
$base-font-size: 100% !default;
$base-font-size-px: 16px !default; // used for calculations 
$base-line-height: 1.4 !default;
$base-text-color: #222 !default;

// Selected text
$selection-background: #b3d4fc !default;

//==
// Basic Elements
//##

// Horizontal Rule
$horizontal-rule-color: #c0c0c0 !default;

// Tables
$table-bordered-border: 1px solid #c0c0c0 !default;
$table-striped-background-color: #e7e7e7 !default;

// Grid System
$grid-container-width: 1140px !default;
$grid-column-margin: 2% !default;

//==
// CSS Components
//##

// Forms
$form-placeholder: #c0c0c0 !default;

$form-input-background: #fff !default;
$form-input-border: 1px solid #c0c0c0 !default;
$form-input-border-radius: 0 !default;
$form-input-color: #222 !default;

$form-input-background-focus: null !default;
$form-input-border-color-focus: #00a9ec !default;
$form-input-color-focus: null !default;

$form-input-background-disabled: #ebebeb !default;
$form-input-border-color-disabled: #c0c0c0 !default;
$form-input-color-disabled: #c0c0c0 !default;

$form-input-background-readonly: null !default;
$form-input-border-color-readonly: #ebebeb !default;
$form-input-color-readonly: null !default;

// Buttons
$button-background: #dadada !default;
$button-border: solid 1px #c0c0c0 !default;
$button-background-hover: #cdcdcd !default;
$button-border-color-hover: null !default;
$button-outline-color-focus: #00a9ec !default;
$button-color-disabled: #5d5d5d !default;

// Lists
$list-colored-bullet: #00a9ec !default;

// Alerts
$alert-color-scheme: #f2e187 !default;

//==
// JS Plugins
//##

// Lightbox
$lightbox-header-background: transparent !default;
$lightbox-header-color: #fff !default;

$lightbox-footer-background: transparent !default;
$lightbox-footer-color: #fff !default;

$lightbox-content-background-color: #fff !default;

$lightbox-media-background-color: #111 !default;

$carousel-control-color: #fff !default;
$carousel-control-text-decoration: none !default;

$carousel-control-color-hover: #fff !default;
$carousel-control-text-decoration-hover: underline !default;

// Carousel
$carousel-caption-background-color: #222 !default;
$carousel-caption-color: #fff !default;

$carousel-control-color: #fff !default;

$carousel-nav-background-color: transparent !default;
$carousel-nav-border: 2px solid #222 !default;

$carousel-nav-background-color-hover: #c0c0c0 !default;
$carousel-nav-border-color-hover: null !default;

$carousel-nav-background-color-active: #fff !default;
$carousel-nav-border-color-active: null !default;

// Tabs
$tabs-nav-border-color: #c0c0c0 !default;

$tabs-nav-item-background-color: null !default;
$tabs-nav-item-border-color: transparent !default;
$tabs-nav-item-color: null !default;

$tabs-nav-item-background-color-hover: #ebebeb !default;
$tabs-nav-item-border-color-hover: #c0c0c0 !default;
$tabs-nav-item-color-hover: null !default;

$tabs-nav-item-background-color-active: #fff !default;
$tabs-nav-item-border-color-active: #c0c0c0 !default;
$tabs-nav-item-color-active: #454545 !default;

// Dropdown
$accordion-border-color: #c0c0c0 !default;
