// General Styles
$base-font-size: 1rem !default; // Normalized default

// https://booking.design/implementing-system-fonts-on-booking-com-a-lesson-learned-bdc984df627f
// Default system fonts, web fallbacks, emoji defaults
$base-font-family:
-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 
Helvetica, Arial, sans-serif, 
"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-line-height: 1.15 !default;


// Colors
$base-font-color: #222 !default;
$base-border-color: #c0c0c0 !default;
$base-input-border-color: #c0c0c0 !default;
$base-disabled-color: #ebebeb !default;

// Typography
// These have been calculated to match the default browser sizes.
$h1-font-size: 2rem !default;
$h1-margin: 1.34rem !default;

$h2-font-size: 1.5rem !default;
$h2-margin: 1.245rem !default;

$h3-font-size: 1.17rem !default;
$h3-margin: 1.17rem !default;

$h4-font-size: 1rem !default;
$h4-margin: 1.33rem !default;

$h5-font-size: .83rem !default;
$h5-margin: 1.386rem !default;

$h6-font-size: .67rem !default;
$h6-margin: 1.561rem !default;

// Selected text
$selection-background: #b3d4fc !default;

// Focused objects
$selection-focus-color: #3b99fc!default;

//==
// Grid System
//##
$grid-container-max-width: 1140px !default;
$grid-column-gutter: 16px !default;
$grid-column-count: 12!default;

// Breakpoints. These have been carefully considered so it
// is recommended to leave them as they are.
$grid-breakpoint-xxs-max: 37.49em !default;
$grid-breakpoint-xs-min: 37.5em !default;
$grid-breakpoint-xs-max: 47.99em !default;
$grid-breakpoint-s-min: 48em !default;
$grid-breakpoint-s-max: 61.99em !default;
$grid-breakpoint-m-min: 62em !default;
$grid-breakpoint-m-max: 74.99em !default;
$grid-breakpoint-l-min: 75em !default;

// Print Breakpoints. Printing on A4 only maintains
// xs grid layout so we shift the xs/s breakpoint to force it to print using the
// s grid. These are deliberately set at pixel values to ensure
// that font-size doesn't affect output.
$grid-print-breakpoint-xs-max: 536px !default;
$grid-print-breakpoint-s-min: 537px !default;

//==
// Basic Elements
//##

// Horizontal Rule
$horizontal-rule-color: $base-border-color !default;

// Tables
$table-cell-pad: .5rem !default;
$table-bordered-border-width: 1px !default;
$table-bordered-border: $table-bordered-border-width solid $base-border-color !default;
$table-striped-background-color: #ebebeb !default;

//==
// CSS Components
//##

// Forms
$form-input-font-family: inherit;
$form-line-height: 1.4 !default;
$form-placeholder: lighten($base-font-color, 20) !default;
$form-input-padding: .25rem !default;
$form-input-margin-bottom: 1rem !default;
$form-input-height: 2rem !default;
$form-input-background: #fff !default;
$form-input-border: 1px solid $base-input-border-color !default;
$form-input-focus-outline-offset: -1px !default;
$form-input-focus-outline: 1px solid $selection-focus-color !default;
$form-input-border-radius: 0 !default;
$form-input-font-color: #222 !default;
$form-input-ms-file-height: 1.25rem !default;

$form-input-background-disabled: $base-disabled-color !default;
$form-input-border-color-disabled: $base-input-border-color !default;
$form-input-color-disabled: $base-input-border-color !default;
$form-input-border-color-readonly: $base-disabled-color !default;

$form-input-color-width: 6.563rem !default;

$form-input-radio-checkbox-dimensions: 1.334rem !default;
$form-input-radio-checkbox-margin: 1.1rem;

// Overrides for webkit browsers to normalize the select input.
$form-input-select-arrow: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' width='11' height='10.5'><path fill='%23222' d='M11 0L5.5 9 0 0'/></svg>") !default;
$form-input-select-arrow-position: .6rem !default;
$form-input-select-arrow-padding: 1.67rem !default;

$form-input-group-background: $base-input-border-color !default;
$form-input-group-color: inherit !default;

$form-actions-margin: 1rem !default;
$form-actions-padding: 1rem !default;

// Buttons
$button-background: #dadada !default;
$button-font-color: inherit !default;
$button-hover-background: darken($button-background, 5) !default;
$button-active-background: lighten($button-background, 5) !default;
$button-disabled-background: lighten($button-background, 5) !default;
$button-border: 1px solid darken($button-background, 10) !default;
$button-color-disabled: lighten($base-font-color, 10) !default;
$button-height: $form-input-height !default;
$button-padding: 0 1rem !default;

// Lists
$list-margin: 1rem !default;
$list-padding: 2.5rem !default;
$list-colored-bullet: #00a9ec !default;
$list-ol-offset: -3.125rem !default;
$list-dt-dd-min-height: 1.4rem !default;
$list-dt-width: 9.375rem !default;
$list-dd-margin: 10.375rem !default;

// Alerts
$alert-padding: 0 1rem !default;
$alert-margin: 1rem 0 !default;
$alert-background-color: #ffd54f !default;
$alert-border-width: 5px !default;
$alert-border-style: solid !default;
$alert-border-color: #ff6f00 !default;
$alert-button-font-size: $h3-font-size !default;


// Code
$code-font-family: monospace, monospace !default;
$code-background-color: #f7f7f9 !default;
$code-color: #950b2f !default;
$code-scrollable-max-height: 20rem !default;
$code-pre-padding: .5rem !default;
$code-code-padding: .0667rem .25rem !default;

//==
// JS Plugins
//##

// Navigation
$navigation-width: 260px !default;
$navigation-background-color: #222 !default;
$navigation-color: #fff !default;

// ######################
// ######## Modal #######
// ######################
$modal-overlay-background-color: rgba(0, 0, 0,.7) !default;
$modal-max-width: $grid-container-max-width !default;
$modal-titles-color: #fff !default;

$modal-content-background-color: #fff !default;
$modal-media-background-color: #222 !default;
$modal-control-color: #fff !default;

$modal-loader-color: #fff !default;

// ######################
// ###### Carousel ######
// ######################
$carousel-transition-function: .7s ease-in-out !default;
$carousel-caption-background-color: rgba(34, 34, 34,.4) !default;
$carousel-caption-color: #fff !default;

// Controls
$carousel-control-color: #fff !default;
$carousel-control-background-color: transparent !default;
$carousel-control-background-prev: str-replace(url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' viewBox='0 0 4.933 8'><path d='M4.933.933L4 0 0 4l4 4 .933-.933L1.867 4'/></svg>"), "#", "%23") !default;
$carousel-control-background-next: str-replace(url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' viewBox='0 0 4.933 8'><path d='M0 7l3.067-3L0 .933.933 0l4 4-4 4'/></svg>"), "#", "%23") !default;
$carousel-control-background-size: 50% 50% !default;
$carousel-control-opacity: .5 !default;
$carousel-control-opacity-active: 1 !default;

// Indicators
$carousel-nav-background-color: #fff !default;
$carousel-nav-background-opacity: .5 !default;
$carousel-nav-background-color-hover: $carousel-nav-background-color !default;
$carousel-nav-background-opacity-hover: 1 !default;
$carousel-nav-background-color-active: $carousel-nav-background-color !default;
$carousel-nav-background-opacity-active: 1 !default;

// ######################
// ######## Tabs ########
// ######################
$tabs-nav-border-color: $base-border-color !default;

$tabs-nav-item-background-color: null !default;
$tabs-nav-item-border-color: transparent !default;
$tabs-nav-item-color: null !default;

$tabs-nav-item-background-color-hover: #ebebeb !default;
$tabs-nav-item-border-color-hover: $base-border-color !default;
$tabs-nav-item-color-hover: null !default;

$tabs-nav-item-background-color-active: #fff !default;
$tabs-nav-item-border-color-active: $base-border-color !default;
$tabs-nav-item-color-active: #454545 !default;

// Dropdown
$dropdown-transition-function: .3s ease !default;
$dropdown-accordion-margin: .125rem !default;
$dropdown-accordion-padding: .5rem !default;
$dropdown-accordion-border-width: 1px !default;
$dropdown-accordion-border-style: solid !default;
$dropdown-accordion-border-color: $base-border-color !default;