/*
 * Fix the box model
 * Overwrite Normalize rather than edit it.
 */
*, *:before, *:after,
hr, input[type="search"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * IE10 in Windows (Phone) 8
 * Support for responsive views via media queries do not work in IE10 on mobile for
 * versions prior to WP8 Update 3 (GDR3).
 */
@-ms-viewport {
    width: device-width;
}

/*
 * 1. Use the iOS devices hardware accelerator to provide native scrolling.
 */
html {
    -webkit-overflow-scrolling: touch; /* 1 */
    font-size: 16px;
    line-height: 1.4;
    color: #222;
}

/*
 * Headers
 * 1: Improve rendering of screen fonts.
 * 2: Prevent page breaking.
 */
h1, h2, h3, h4, h5, h6 {
    text-rendering: optimizeLegibility; /* 1 */
    page-break-after: avoid; /* 2 */
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background colour to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #c0c0c0;
    margin: 1em 0;
    padding: 0;
}

/*
 * Add query indicator to abbr
 */
abbr {
    cursor: help;
}