/*
 * Normalize button borders, color, and padding.
 * 1: Remove rounded corners on iPhone.
 * 2: Remove 300ms touch delay.
 */

button,
input[type="submit"],
input[type="button"],
input[type="reset"],
[role="button"] {
    -webkit-appearance: none; /* 1 */
    border-radius: 0; /* 1 */
    display: inline-block;
    padding: .5em 1em;
    margin-bottom: 0;
    line-height: normal;
    border: solid 1px #c0c0c0;
    background-color: #dadada;
    color: inherit;
    cursor: pointer;
    -ms-touch-action: none; /* 2 */
    touch-action: none; /* 2 */
}

/*
 * Reset width for inputs
 */
input[type="submit"],
input[type="reset"],
input[type="button"] {
    width: auto;
    max-width: none;
}

    /*
     * Button states.
     */
    button:hover,
    input[type="submit"]:hover,
    input[type="button"]:hover,
    input[type="reset"]:hover,
    [role="button"]:hover {
        background-color: #cdcdcd;
    }

    button:focus,
    input[type="submit"]:focus,
    input[type="button"]:focus,
    input[type="reset"]:focus,
    [role="button"]:focus {
        outline: 1px solid #00a9ec;
        outline-offset: -1px;
    }

    button:active,
    input[type="submit"]:active,
    input[type="button"]:active,
    input[type="reset"]:active,
    [role="button"]:active {
        background-color: #e7e7e7;
        outline: none;
    }

[role="button"],
[role="button"]:hover,
[role="button"]:focus,
[role="button"]:active {
    color: inherit;
    text-decoration: none;
}

/*
 * 1. Fix IOS 6/7 opacity issue
 */
    button[disabled],
    input[type="submit"][disabled],
    input[type="button"][disabled],
    input[type="reset"][disabled],
    [role="button"].disabled {
        color: #5d5d5d;
        background-color: #e7e7e7;
        cursor: not-allowed;
        opacity: 1 /* 1 */;
    }

    /*
     * Inline buttons designed for rendering next to inputs.
     * 1. Fix inline-block margin.
     * 2. Pad buttons.
     */
    button.btn-inline,
    input[type="submit"].btn-inline,
    input[type="button"].btn-inline,
    input[type="reset"].btn-inline,
    [role="button"].btn-inline {
        margin-left: -.27em; /* 1 */
        padding: .25em 1em; /* 2 */
    }

/*
 * Grouped buttons.
 */

/*
 * Clearfix: contain floats
 */
.btn-group:before,
.btn-group:after {
    content: "";
    display: table;
}

.btn-group:after {
    clear: both;
}

.btn-group {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
}

    .btn-group > * {
        float: left;
    }
