/* Responsive Buttons */

/*
 * Normalize button borders, colour, and padding.
 * 1: Remove rounded corners on iPhone.
 */

button,
input[type="submit"],
input[type="button"],
a[role="button"] {
    -webkit-appearance: none; /* 1 */
    border-radius: 0; /* 1 */
    display: inline-block;
    width: auto;
    max-width: none;
    padding: .5em 1em;
    margin-bottom: 0;
    line-height: normal;
    text-decoration: none;
    font-size: 1em;
    border: solid 1px #c0c0c0;
    background-color: #dadada;
    color: #222;
    cursor: pointer;
    position: relative;
}

    /*
     * Button states.
     */
    button:hover,
    input[type="submit"]:hover,
    input[type="button"]:hover,
    a[role="button"]:hover {
        background-color: #cdcdcd;
    }

    button:focus,
    input[type="submit"]:focus,
    input[type="button"]:focus,
    a[role="button"]:focus {
        outline: 1px solid #00a9ec;
        outline-offset: -1px;
    }

    button:active,
    input[type="submit"]:active,
    input[type="button"]:active,
    a[role="button"]:active {
        background-color: #e7e7e7;
        outline: none;
    }

    button[disabled],
    input[type="submit"][disabled],
    input[type="button"][disabled],
    a[role="button"].disabled {
        color: #5d5d5d;
        background-color: #e7e7e7;
        cursor: not-allowed;
    }

    /*
     * Inline buttons designed for rendering next to inputs.
     * 1. Fix inline-block margin.
     * 2. Pad buttons.
     */
    button.btn-inline,
    input[type="submit"].btn-inline,
    input[type="button"].btn-inline,
    a[role="button"].btn-inline {
        margin-left: -4px; /* 1 */
        padding: .25em 1em; /* 2 */
    }

/*
 * Grouped buttons.
 */

/*
 * Clearfix: contain floats
 */
.btn-group:before,
.btn-group:after {
    content: "";
    display: table;
}

.btn-group:after {
    clear: both;
}

.btn-group {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
}

    .btn-group > * {
        float: left;
    }
