/* Responsive Carousel */

.carousel {
    position: relative;
    overflow: hidden;
    margin-bottom: 1em;
}

/* 
 * Default slide version
 */
    .carousel > figure {
        display: none;
        position: relative;
        -webkit-transition: .7s ease-in-out -webkit-transform,.7s ease-in-out left;
        -moz-transition: .7s ease-in-out -moz-transform,.7s ease-in-out left;
        -o-transition: .7s ease-in-out -o-transform,.7s ease-in-out left;
        transition: .7s ease-in-out transform,.7s ease-in-out left;
    }

        .carousel > figure > img {
            display: block;
            width: 100%;
        }

    .carousel .no-transition {
        -moz-transition-duration: 0 !important;
        -o-transition-duration: 0 !important;
        -webkit-transition-duration: 0 !important;
        transition-duration: 0 !important;
    }

    /* 
 * Next Last version
 */
    .carousel .carousel-active,
    .carousel .next,
    .carousel .prev,
    .carousel .swipe {
        display: block;
    }

        .carousel .carousel-active,
        .carousel .next.left,
        .carousel .prev.right {
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -o-transform: translateX(0);
            transform: translateX(0);
            left: 0\9;
        }

    .carousel .carousel-active {
        position: relative !important;
        z-index: 1;
    }

    .carousel .next,
    .carousel .prev,
    .carousel .swipe {
        position: absolute;
        top: 0;
        z-index: 0;
        width: 100%;
    }

    .carousel .next,
    .carousel .carousel-active.right {
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);
        left: 100%\9;
    }

    .carousel .prev,
    .carousel .carousel-active.left {
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
        left: -100%\9;
    }

    /*
 * 1.  IE10 is picking up on the left positioning :(
 */
    x::-ms-reveal,
    .carousel .next,
    .carousel .prev,
    .carousel .carousel-active.left,
    .carousel .carousel-active.right {
        left: 0; /* 1 */
    }


.carousel-control,
.carousel-control:visited {
    position: absolute;
    display: block;
    width: 2em;
    top: 40%;
    left: 0;
    padding: .5em;
    margin-top: -1em;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: #fff;
    text-decoration: none;
    z-index: 3;
}

    .carousel-control.right {
        left: auto;
        right: 0;
    }

    .carousel-control,
    .carousel-control:visited,
    .carousel-control:focus {
        outline: 0;
    }

        .carousel-control:hover {
            text-decoration: underline;
        }

.carousel > figure > figcaption {
    padding: 1px 1em;
    background: #111;
    color: #fff;
}

/* 
 * Fade version
 */
.carousel-fade > figure,
.carousel[data-carousel-mode="fade"] > figure {
    -webkit-transition: opacity .7s ease-in-out;
    -moz-transition: opacity .7s ease-in-out;
    -o-transition: opacity .7s ease-in-out;
    transition: opacity .7s ease-in-out;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.carousel-fade .carousel-active,
.carousel[data-carousel-mode="fade"] .carousel-active {
    opacity: 1;
}

    .carousel-fade .carousel-active.left,
    .carousel-fade .carousel-active.right,
    .carousel[data-carousel-mode="fade"] .carousel-active.left,
    .carousel[data-carousel-mode="fade"] .carousel-active.right {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        left: 0\9;
        opacity: 0;
        z-index: 2;
    }

.carousel-fade > figure.next,
.carousel-fade > figure.prev,
.carousel[data-carousel-mode="fade"] > figure.next,
.carousel[data-carousel-mode="fade"] > figure.prev {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    left: 0\9;
    z-index: 1;
    opacity: 1;
}

.carousel-fade > figure .carousel-active,
.carousel[data-carousel-mode="fade"] > figure .carousel-active {
    position: relative;
}

.carousel[data-carousel-mode="fade"] .carousel-control,
.carousel-fade .carousel-control:visited {
    z-index: 3;
}

/*
 * Indicators
 */
.carousel > ol {
    position: absolute;
    top: 1em;
    left: 0;
    right: 0;
    z-index: 3;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
}

    .carousel > ol li {
        display: inline-block;
        width: 1em;
        height: 1em;
        margin: 1px;
        text-indent: -9999px;
        cursor: pointer;
        border: 2px solid #111;
        background-color: transparent;
    }

    .carousel > ol .active {
        background-color: #fff;
    }
