/* Responsive Code */

/*
 * Colours and padding.
 */
pre, code, samp, kbd {
    background-color: #f7f7f9;
    border: 1px solid #c0c0c0;
    color: #ad0d36;
    padding: .5em;
}

/*
 * Prevent overlap on concurrent lines.
 */
code, samp, kbd {
    padding: .067em .25em;
}

/*
 * Prevent wrapping.
 */
kbd {
    white-space: nowrap;
}

/*
 * Remove borders etc in pre.
 */
pre code,
pre samp {
    border: none;
    padding: 0;
}

/*
 * Reassert no wrapping.
 */
pre {
    overflow-x: auto;
}

    pre code {
        -ms-word-wrap: normal;
        word-wrap: normal;
        white-space: pre;
    }

/*
 * Fixed height with overflow.
 */
.pre-scrollable {
    max-height: 20em;
    overflow-y: scroll;
}
