@media (min-width: 30em) {

    /* horizontal */
    .form-horizontal label {
        float: left;
        clear: left;
        width: 160px;
        overflow: hidden;
        text-align: right;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
        position: relative;
        z-index: 1;
    }

    .form-horizontal input,
    .form-horizontal select,
    .form-horizontal textarea,
    .form-horizontal .no-edit,
    .form-horizontal .input-group {
        margin-left: 176px;
        margin-bottom: 1em;
    }

        .form-horizontal .input-group * {
            margin-left: 0;
        }

    .form-horizontal .form-actions {
        padding-left: 176px;
    }

        .form-horizontal .form-actions input {
            margin-left: 0;
        }
}
