/* Responsive Forms Base */

/* Normalize  */
.form {
    margin: 1em 0;
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}

legend {
    display: block;
    width: 100%;
    font-size: 1.17em;
    margin-bottom: 1em;
}

label[for] {
    cursor: pointer;
}

select,
textarea,
input,
.no-edit {
    font-family: inherit;
    padding: .25em;
    background-color: #fff;
    border-radius: 0;
    border: 1px solid #c0c0c0;
    width: 100%;
    display: block;
    margin-bottom: 1em;
}

label,
.input-group {
    display: block;
    margin-bottom: 1em;
}

input[type="color"] {
    max-width: 105px;
}

/*
 * Add range styles for IE8 and IE9
 */
input[type="range"] {
    padding: .25em 0;
    padding: .25em \9;
    background-color: #fff \9;
    border: 1px solid transparent;
    border: 1px solid #c0c0c0 \9;
}

/*
 * 1. Remove borders and padding on range controls in IE10+
 */
x::-ms-reveal,
input[type="range"] { /* 1 */
    border: 1px solid transparent;
    padding: .25em 0;
}

/*
 * Fix field styling on iPhone and iPad.
 * 1. Strip OS styling on IOS
 */
select,
textarea,
input[type="text"],
input[type="search"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="week"],
input[type="month"],
input[type="time"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="email"],
input[type="url"],
input[type="color"] {
    -webkit-appearance: none; /* 1 */
}

@media (-webkit-min-device-pixel-ratio:0) {

    /*
     * Fix field styling on iPhone and iPad.
     * 1. Add a dropdown indicator
     */
    select {
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMC4wMzEiIGhlaWdodD0iMTAuNSI+PHBvbHlnb24gZmlsbD0iIzIyMiIgcG9pbnRzPSIxMSwwIDUuNSw5IDAsMCIvPjwvc3ZnPg==); /* 1 */
        background-repeat: no-repeat;
        background-position: right center;
    }

    /*
     * Fix changing height issues on iOS7.
     */
    input[type="datetime-local"],
    input[type="date"],
    input[type="week"],
    input[type="month"],
    input[type="time"] {
        min-height: 2em;
    }

    input[type="color"] {
        min-height: 1.8em;
    }

    /*
     * 1. Remove excess padding in Webkit
     */
    input[type="color"] {
        padding: 0;
    }

        input[type="color"]::-webkit-color-swatch-wrapper {
            padding: 0;
        }

        input[type="color"]::-webkit-color-swatch {
            border: none;
        }
}

/*
 * Declared separately to reduce selector duplication
 * for padding
 */
input[type="radio"],
input[type="checkbox"] {
    padding: 0;
    display: block;
    margin: .1875em .1875em .1875em 0;
    width: auto;
    min-height: 1em;
    min-width: 1em;
    line-height: inherit;
}

input[type="radio"] {
    border-color: transparent \9;
    border-radius: 1em;
}

/*
 * Textareas : Multiple resizable options.
 * 1: Horizontal
 * 2: Vertical
 * 3: None
 */
textarea {
    height: auto;
    resize: both;
    min-height: 5.25em;
}

    textarea.horizontal {
        resize: horizontal; /* 1 */
    }

    textarea.vertical {
        resize: vertical; /* 2 */
    }

    textarea.no-resize {
        resize: none; /* 3 */
    }

select option {
    height: 100%;
}

/* 
 * Focus 
 */
textarea:focus,
input:focus,
select:focus,
.no-edit:focus {
    border: 1px solid #00a9ec;
    outline: 0;
}

input[type="range"]:focus,
input[type="checkbox"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:checked {
    border-color: transparent;
    outline: 1px solid #00a9ec;
    outline-offset: -1px;
}

input[type="checkbox"]:focus,
input[type="checkbox"]:checked {
    border-color: #c0c0c0;
}

/*
 * Read only
 */
.no-edit,
[readonly] {
    cursor: not-allowed;
    border-color: #ebebeb;
}

/* 
 * Disabled 
 * 1. Override the value set in normalize.css
 * 2. Fix IOS 6/7 opacity issue
 */
input[disabled],
select[disabled],
textarea[disabled] {
    cursor: not-allowed!important; /* 1 */
    background-color: #ebebeb;
    border-color: #c0c0c0;
    color: #c0c0c0;
    outline: 0!important;
    opacity: 1;
}

label > input,
label > select {
    display: inline-block;
}

/* 
 * Placeholder : These have to be kept separate
 * 1. Safari and Chrome
 * 2. Firefox 4-18
 * 3. Firefox 19+
 * 4. IE10+
 */
::-webkit-input-placeholder {
    color: #c0c0c0; /* 1 */
}

:-moz-placeholder {
    color: #c0c0c0; /* 2 */
}

::-moz-placeholder {
    color: #c0c0c0; /* 3 */
}

:-ms-input-placeholder {
    color: #c0c0c0; /* 4 */
}

/*
 * Full Width
 */
.full-width {
    max-width: 100% !important;
    width: 100% !important;
}

/*
 * Inline
 */
input.inline-block,
select.inline-block {
    width: auto;
}

/*
 * Actions - Contains buttons 
 */
.form-actions {
    margin: 1em 0;
    padding: 1em 0;
}

/*
 * No Grid based forms
 */
.form-no-grid select,
.form-no-grid textarea,
.form-no-grid input,
.form-no-grid .no-edit {
    max-width: 210px;
}

    .form-no-grid input[type="color"] {
        max-width: 105px;
    }

.form-no-grid textarea {
    width: auto;
    min-width: 210px;
    max-width: 100%;
}
