.row [class*="col-"] + [class*="col-s"],
.row [class*="col-"].col-reset-xs {
    margin-left: 2%;
}

.row [class*="col-"].col-reset-xs {
    clear: none;
}

.row [class*="col-"].col-reset-s {
    margin-left: 0;
    clear: both;
}

.row [class*="col-s"] {
    float: left;
}

.col-s-12 {
    width: 100%;
    margin-left: 0;
}

.col-s-11 {
    width: 91.5%;
}

.col-s-10 {
    width: 83%;
}

.col-s-9 {
    width: 74.5%;
}

.col-s-8 {
    width: 66%;
}

.col-s-7 {
    width: 57.5%;
}

.col-s-6 {
    width: 49%;
}

.col-s-5 {
    width: 40.5%;
}

.col-s-4 {
    width: 32%;
}

.col-s-3 {
    width: 23.5%;
}

.col-s-2 {
    width: 15%;
}

.col-s-1 {
    width: 6.5%;
}

/* No gutter margins */
.no-gutter .col-s-11 {
    width: 91.6667%;
}

.no-gutter .col-s-10 {
    width: 83.3333%;
}

.no-gutter .col-s-9 {
    width: 75%;
}

.no-gutter .col-s-8 {
    width: 66.6667%;
}

.no-gutter .col-s-7 {
    width: 58.3333%;
}

.no-gutter .col-s-6 {
    width: 50%;
}

.no-gutter .col-s-5 {
    width: 41.6667%;
}

.no-gutter .col-s-4 {
    width: 33.3333%;
}

.no-gutter .col-s-3 {
    width: 25%;
}

.no-gutter .col-s-2 {
    width: 16.6667%;
}

.no-gutter .col-s-1 {
    width: 8.3333%;
}

/* offsetting cols */
.push-s-11 {
    left: 93.5%;
}

.push-s-10 {
    left: 85%;
}

.push-s-9 {
    left: 76.5%;
}

.push-s-8 {
    left: 68%;
}

.push-s-7 {
    left: 59.5%;
}

.push-s-6 {
    left: 51%;
}

.push-s-5 {
    left: 42.5%;
}

.push-s-4 {
    left: 34%;
}

.push-s-3 {
    left: 25.5%;
}

.push-s-2 {
    left: 17%;
}

.push-s-1 {
    left: 8.5%;
}

/*No gutter margin*/
.no-gutter .push-s-11 {
    left: 91.6667%;
}

.no-gutter .push-s-10 {
    left: 83.3333%;
}

.no-gutter .push-s-9 {
    left: 75%;
}

.no-gutter .push-s-8 {
    left: 66.6667%;
}

.no-gutter .push-s-7 {
    left: 58.3333%;
}

.no-gutter .push-s-6 {
    left: 50%;
}

.no-gutter .push-s-5 {
    left: 41.6667%;
}

.no-gutter .push-s-4 {
    left: 33.3333%;
}

.no-gutter .push-s-3 {
    left: 25%;
}

.no-gutter .push-s-2 {
    left: 16.6667%;
}

.no-gutter .push-s-1 {
    left: 8.3333%;
}
