.row [class*="col-"] + [class*="col-m"],
.row [class*="col-"].col-reset-s {
    margin-left: 2%;
}

.row [class*="col-"].col-reset-s {
    clear: none;
}

.row [class*="col-"].col-reset-m {
    margin-left: 0;
    clear: both;
}

.row [class*="col-"][class*="push-s-right"] {
    float: left;
}

.row [class*="col-"][class*="push-m-right"] {
    float: right;
}

.col-m-12 {
    width: 100%;
    margin-left: 0;
}

.col-m-11 {
    width: 91.5%;
}

.col-m-10 {
    width: 83%;
}

.col-m-9 {
    width: 74.5%;
}

.col-m-8 {
    width: 66%;
}

.col-m-7 {
    width: 57.5%;
}

.col-m-6 {
    width: 49%;
}

.col-m-5 {
    width: 40.5%;
}

.col-m-4 {
    width: 32%;
}

.col-m-3 {
    width: 23.5%;
}

.col-m-2 {
    width: 15%;
}

.col-m-1 {
    width: 6.5%;
}

/* No gutter margins */
.no-gutter .col-m-11 {
    width: 91.6667%;
}

.no-gutter .col-m-10 {
    width: 83.3333%;
}

.no-gutter .col-m-9 {
    width: 75%;
}

.no-gutter .col-m-8 {
    width: 66.6667%;
}

.no-gutter .col-m-7 {
    width: 58.3333%;
}

.no-gutter .col-m-6 {
    width: 50%;
}

.no-gutter .col-m-5 {
    width: 41.6667%;
}

.no-gutter .col-m-4 {
    width: 33.3333%;
}

.no-gutter .col-m-3 {
    width: 25%;
}

.no-gutter .col-m-2 {
    width: 16.6667%;
}

.no-gutter .col-m-1 {
    width: 8.3333%;
}

/* offsetting cols */
.offset-m-11 {
    margin-left: 93.5%;
}

.offset-m-10 {
    margin-left: 85%;
}

.offset-m-9 {
    margin-left: 76.5%;
}

.offset-m-8 {
    margin-left: 68%;
}

.offset-m-7 {
    margin-left: 59.5%;
}

.offset-m-6 {
    margin-left: 51%;
}

.offset-m-5 {
    margin-left: 42.5%;
}

.offset-m-4 {
    margin-left: 34%;
}

.offset-m-3 {
    margin-left: 25.5%;
}

.offset-m-2 {
    margin-left: 17%;
}

.offset-m-1 {
    margin-left: 8.5%;
}

/*No gutter margin*/
.no-gutter .offset-m-11 {
    margin-left: 91.6667%;
}

.no-gutter .offset-m-10 {
    margin-left: 83.3333%;
}

.no-gutter .offset-m-9 {
    margin-left: 75%;
}

.no-gutter .offset-m-8 {
    margin-left: 66.6667%;
}

.no-gutter .offset-m-7 {
    margin-left: 58.3333%;
}

.no-gutter .offset-m-6 {
    margin-left: 50%;
}

.no-gutter .offset-m-5 {
    margin-left: 41.6667%;
}

.no-gutter .offset-m-4 {
    margin-left: 33.3333%;
}

.no-gutter .offset-m-3 {
    margin-left: 25%;
}

.no-gutter .offset-m-2 {
    margin-left: 16.6667%;
}

.no-gutter .offset-m-1 {
    margin-left: 8.3333%;
}

/* pushing cols */
.push-m-11 {
    left: 93.5%;
}

.push-m-10 {
    left: 85%;
}

.push-m-9 {
    left: 76.5%;
}

.push-m-8 {
    left: 68%;
}

.push-m-7 {
    left: 59.5%;
}

.push-m-6 {
    left: 51%;
}

.push-m-5 {
    left: 42.5%;
}

.push-m-4 {
    left: 34%;
}

.push-m-3 {
    left: 25.5%;
}

.push-m-2 {
    left: 17%;
}

.push-m-1 {
    left: 8.5%;
}

/*No gutter margin*/
.no-gutter .push-m-11 {
    left: 91.6667%;
}

.no-gutter .push-m-10 {
    left: 83.3333%;
}

.no-gutter .push-m-9 {
    left: 75%;
}

.no-gutter .push-m-8 {
    left: 66.6667%;
}

.no-gutter .push-m-7 {
    left: 58.3333%;
}

.no-gutter .push-m-6 {
    left: 50%;
}

.no-gutter .push-m-5 {
    left: 41.6667%;
}

.no-gutter .push-m-4 {
    left: 33.3333%;
}

.no-gutter .push-m-3 {
    left: 25%;
}

.no-gutter .push-m-2 {
    left: 16.6667%;
}

.no-gutter .push-m-1 {
    left: 8.3333%;
}

/* pulling cols */
.pull-m-11 {
    right: 93.5%;
}

.pull-m-10 {
    right: 85%;
}

.pull-m-9 {
    right: 76.5%;
}

.pull-m-8 {
    right: 68%;
}

.pull-m-7 {
    right: 59.5%;
}

.pull-m-6 {
    right: 51%;
}

.pull-m-5 {
    right: 42.5%;
}

.pull-m-4 {
    right: 34%;
}

.pull-m-3 {
    right: 25.5%;
}

.pull-m-2 {
    right: 17%;
}

.pull-m-1 {
    right: 8.5%;
}

/*No gutter margin*/
.no-gutter .pull-m-11 {
    right: 91.6667%;
}

.no-gutter .pull-m-10 {
    right: 83.3333%;
}

.no-gutter .pull-m-9 {
    right: 75%;
}

.no-gutter .pull-m-8 {
    right: 66.6667%;
}

.no-gutter .pull-m-7 {
    right: 58.3333%;
}

.no-gutter .pull-m-6 {
    right: 50%;
}

.no-gutter .pull-m-5 {
    right: 41.6667%;
}

.no-gutter .pull-m-4 {
    right: 33.3333%;
}

.no-gutter .pull-m-3 {
    right: 25%;
}

.no-gutter .pull-m-2 {
    right: 16.6667%;
}

.no-gutter .pull-m-1 {
    right: 8.3333%;
}
