@media (min-width: 75em) {
    .row [class*="col-"].reset-l {
        margin-left: 0 !important;
        clear: both;
    }

    .row [class*="col-"][class*="push-l-right"] {
        float: right;
    }

    .row [class*="col-"] + [class*="col-l"] {
        margin-left: 2%;
    }

    .row [class*="col-"] + [class*="col-l-12"],
    .col-l-12 {
        width: 100%;
        margin-left: 0;
    }

    .col-l-11 {
        width: 91.5%;
    }

    .col-l-10 {
        width: 83%;
    }

    .col-l-9 {
        width: 74.5%;
    }

    .col-l-8 {
        width: 66%;
    }

    .col-l-7 {
        width: 57.5%;
    }

    .col-l-6 {
        width: 49%;
    }

    .col-l-5 {
        width: 40.5%;
    }

    .col-l-4 {
        width: 32%;
    }

    .col-l-3 {
        width: 23.5%;
    }

    .col-l-2 {
        width: 15%;
    }

    .col-l-1 {
        width: 6.5%;
    }

    /* No gutter margins */
    .no-gutter > .col-l-11 {
        width: 91.6667%;
    }

    .no-gutter > .col-l-10 {
        width: 83.3333%;
    }

    .no-gutter > .col-l-9 {
        width: 75%;
    }

    .no-gutter > .col-l-8 {
        width: 66.6667%;
    }

    .no-gutter > .col-l-7 {
        width: 58.3333%;
    }

    .no-gutter > .col-l-6 {
        width: 50%;
    }

    .no-gutter > .col-l-5 {
        width: 41.6667%;
    }

    .no-gutter > .col-l-4 {
        width: 33.3333%;
    }

    .no-gutter > .col-l-3 {
        width: 25%;
    }

    .no-gutter > .col-l-2 {
        width: 16.6667%;
    }

    .no-gutter > .col-l-1 {
        width: 8.3333%;
    }


    /* offsetting cols */
    .offset-l-11 {
        margin-left: 93.5%;
    }

    .row [class*="col-"] + .offset-l-11 {
        margin-left: 95.5%;
    }

    .offset-l-10 {
        margin-left: 85%;
    }

    .row [class*="col-"] + .offset-l-10 {
        margin-left: 87%;
    }

    .offset-l-9 {
        margin-left: 76.5%;
    }

    .row [class*="col-"] + .offset-l-9 {
        margin-left: 78.5%;
    }

    .offset-l-8 {
        margin-left: 68%;
    }

    .row [class*="col-"] + .offset-l-8 {
        margin-left: 70%;
    }

    .offset-l-7 {
        margin-left: 59.5%;
    }

    .row [class*="col-"] + .offset-l-7 {
        margin-left: 61.5%;
    }

    .offset-l-6 {
        margin-left: 51%;
    }

    .row [class*="col-"] + .offset-l-6 {
        margin-left: 53%;
    }

    .offset-l-5 {
        margin-left: 42.5%;
    }

    .row [class*="col-"] + .offset-l-5 {
        margin-left: 44.5%;
    }

    .offset-l-4 {
        margin-left: 34%;
    }

    .row [class*="col-"] + .offset-l-4 {
        margin-left: 36%;
    }

    .offset-l-3 {
        margin-left: 25.5%;
    }

    .row [class*="col-"] + .offset-l-3 {
        margin-left: 27.5%;
    }

    .offset-l-2 {
        margin-left: 17%;
    }

    .row [class*="col-"] + .offset-l-2 {
        margin-left: 19%;
    }

    .offset-l-1 {
        margin-left: 8.5%;
    }

    .row [class*="col-"] + .offset-l-1 {
        margin-left: 10.5%;
    }

    /*No gutter margin*/
    .no-gutter > .offset-l-11,
    .no-gutter > [class*="col-"] + [class*="col-"].offset-l-11 {
        margin-left: 91.6667%;
    }

    .no-gutter > .offset-l-10,
    .no-gutter > [class*="col-"] + [class*="col-"].offset-l-10 {
        margin-left: 83.3333%;
    }

    .no-gutter > .offset-l-9,
    .no-gutter > [class*="col-"] + [class*="col-"].offset-l-9 {
        margin-left: 75%;
    }

    .no-gutter > .offset-l-8,
    .no-gutter > [class*="col-"] + [class*="col-"].offset-l-8 {
        margin-left: 66.6667%;
    }

    .no-gutter > .offset-l-7,
    .no-gutter > [class*="col-"] + [class*="col-"].offset-l-7 {
        margin-left: 58.3333%;
    }

    .no-gutter > .offset-l-6,
    .no-gutter > [class*="col-"] + [class*="col-"].offset-l-6 {
        margin-left: 50%;
    }

    .no-gutter > .offset-l-5,
    .no-gutter > [class*="col-"] + [class*="col-"].offset-l-5 {
        margin-left: 41.6667%;
    }

    .no-gutter > .offset-l-4,
    .no-gutter > [class*="col-"] + [class*="col-"].offset-l-4 {
        margin-left: 33.3333%;
    }

    .no-gutter > .offset-l-3,
    .no-gutter > [class*="col-"] + [class*="col-"].offset-l-3 {
        margin-left: 25%;
    }

    .no-gutter > .offset-l-2,
    .no-gutter > [class*="col-"] + [class*="col-"].offset-l-2 {
        margin-left: 16.6667%;
    }

    .no-gutter > .offset-l-1,
    .no-gutter > [class*="col-"] + [class*="col-"].offset-l-1 {
        margin-left: 8.3333%;
    }

    /* pushing cols */
    .push-l-11 {
        left: 93.5%;
    }

    .push-l-10 {
        left: 85%;
    }

    .push-l-9 {
        left: 76.5%;
    }

    .push-l-8 {
        left: 68%;
    }

    .push-l-7 {
        left: 59.5%;
    }

    .push-l-6 {
        left: 51%;
    }

    .push-l-5 {
        left: 42.5%;
    }

    .push-l-4 {
        left: 34%;
    }

    .push-l-3 {
        left: 25.5%;
    }

    .push-l-2 {
        left: 17%;
    }

    .push-l-1 {
        left: 8.5%;
    }

    /*No gutter margin*/
    .no-gutter > .push-l-11 {
        left: 91.6667%;
    }

    .no-gutter > .push-l-10 {
        left: 83.3333%;
    }

    .no-gutter > .push-l-9 {
        left: 75%;
    }

    .no-gutter > .push-l-8 {
        left: 66.6667%;
    }

    .no-gutter > .push-l-7 {
        left: 58.3333%;
    }

    .no-gutter > .push-l-6 {
        left: 50%;
    }

    .no-gutter > .push-l-5 {
        left: 41.6667%;
    }

    .no-gutter > .push-l-4 {
        left: 33.3333%;
    }

    .no-gutter > .push-l-3 {
        left: 25%;
    }

    .no-gutter > .push-l-2 {
        left: 16.6667%;
    }

    .no-gutter > .push-l-1 {
        left: 8.3333%;
    }

    /* pulling cols */
    .pull-l-11 {
        right: 93.5%;
    }

    .pull-l-10 {
        right: 85%;
    }

    .pull-l-9 {
        right: 76.5%;
    }

    .pull-l-8 {
        right: 68%;
    }

    .pull-l-7 {
        right: 59.5%;
    }

    .pull-l-6 {
        right: 51%;
    }

    .pull-l-5 {
        right: 42.5%;
    }

    .pull-l-4 {
        right: 34%;
    }

    .pull-l-3 {
        right: 25.5%;
    }

    .pull-l-2 {
        right: 17%;
    }

    .pull-l-1 {
        right: 8.5%;
    }

    /*No gutter margin*/
    .no-gutter > .pull-l-11 {
        right: 91.6667%;
    }

    .no-gutter > .pull-l-10 {
        right: 83.3333%;
    }

    .no-gutter > .pull-l-9 {
        right: 75%;
    }

    .no-gutter > .pull-l-8 {
        right: 66.6667%;
    }

    .no-gutter > .pull-l-7 {
        right: 58.3333%;
    }

    .no-gutter > .pull-l-6 {
        right: 50%;
    }

    .no-gutter > .pull-l-5 {
        right: 41.6667%;
    }

    .no-gutter > .pull-l-4 {
        right: 33.3333%;
    }

    .no-gutter > .pull-l-3 {
        right: 25%;
    }

    .no-gutter > .pull-l-2 {
        right: 16.6667%;
    }

    .no-gutter > .pull-l-1 {
        right: 8.3333%;
    }
}
