.row [class*="col-l"] {
    float: left;
}

.col-l-12 {
    width: 100%;
    margin-left: 0;
}

.col-l-11 {
    width: 91.5%;
}

.col-l-10 {
    width: 83%;
}

.col-l-9 {
    width: 74.5%;
}

.col-l-8 {
    width: 66%;
}

.col-l-7 {
    width: 57.5%;
}

.col-l-6 {
    width: 49%;
}

.col-l-5 {
    width: 40.5%;
}

.col-l-4 {
    width: 32%;
}

.col-l-3 {
    width: 23.5%;
}

.col-l-2 {
    width: 15%;
}

.col-l-1 {
    width: 6.5%;
}

/* No gutter margins */
.no-gutter .col-l-11 {
    width: 91.6667%;
}

.no-gutter .col-l-10 {
    width: 83.3333%;
}

.no-gutter .col-l-9 {
    width: 75%;
}

.no-gutter .col-l-8 {
    width: 66.6667%;
}

.no-gutter .col-l-7 {
    width: 58.3333%;
}

.no-gutter .col-l-6 {
    width: 50%;
}

.no-gutter .col-l-5 {
    width: 41.6667%;
}

.no-gutter .col-l-4 {
    width: 33.3333%;
}

.no-gutter .col-l-3 {
    width: 25%;
}

.no-gutter .col-l-2 {
    width: 16.6667%;
}

.no-gutter .col-l-1 {
    width: 8.3333%;
}

/* offsetting cols */
.push-l-11 {
    left: 93.5%;
}

.push-l-10 {
    left: 85%;
}

.push-l-9 {
    left: 76.5%;
}

.push-l-8 {
    left: 68%;
}

.push-l-7 {
    left: 59.5%;
}

.push-l-6 {
    left: 51%;
}

.push-l-5 {
    left: 42.5%;
}

.push-l-4 {
    left: 34%;
}

.push-l-3 {
    left: 25.5%;
}

.push-l-2 {
    left: 17%;
}

.push-l-1 {
    left: 8.5%;
}

/*No gutter margin*/
.no-gutter .push-l-11 {
    left: 91.6667%;
}

.no-gutter .push-l-10 {
    left: 83.3333%;
}

.no-gutter .push-l-9 {
    left: 75%;
}

.no-gutter .push-l-8 {
    left: 66.6667%;
}

.no-gutter .push-l-7 {
    left: 58.3333%;
}

.no-gutter .push-l-6 {
    left: 50%;
}

.no-gutter .push-l-5 {
    left: 41.6667%;
}

.no-gutter .push-l-4 {
    left: 33.3333%;
}

.no-gutter .push-l-3 {
    left: 25%;
}

.no-gutter .push-l-2 {
    left: 16.6667%;
}

.no-gutter .push-l-1 {
    left: 8.3333%;
}
