@media (min-width: 48em) and (max-width: 61.99em) {
    .row [class*="col-"].reset-s-only {
        margin-left: 0 !important;
        clear: both;
    }

    .row [class*="col-"][class*="push-s-right-only"] {
        float: right;
    }
}

@media (min-width: 48em) {
    .row [class*="col-"].reset-s {
        margin-left: 0 !important;
        clear: both;
    }

    .row [class*="col-"][class*="push-s-right"] {
        float: right;
    }

    .row [class*="col-"] + [class*="col-s"] {
        margin-left: 2%;
    }

    .col-s-12 {
        width: 100%;
        margin-left: 0;
    }

    .col-s-11 {
        width: 91.5%;
    }

    .col-s-10 {
        width: 83%;
    }

    .col-s-9 {
        width: 74.5%;
    }

    .col-s-8 {
        width: 66%;
    }

    .col-s-7 {
        width: 57.5%;
    }

    .col-s-6 {
        width: 49%;
    }

    .col-s-5 {
        width: 40.5%;
    }

    .col-s-4 {
        width: 32%;
    }

    .col-s-3 {
        width: 23.5%;
    }

    .col-s-2 {
        width: 15%;
    }

    .col-s-1 {
        width: 6.5%;
    }

    /* No gutter margins */
    .no-gutter > .col-s-11 {
        width: 91.6667%;
    }

    .no-gutter > .col-s-10 {
        width: 83.3333%;
    }

    .no-gutter > .col-s-9 {
        width: 75%;
    }

    .no-gutter > .col-s-8 {
        width: 66.6667%;
    }

    .no-gutter > .col-s-7 {
        width: 58.3333%;
    }

    .no-gutter > .col-s-6 {
        width: 50%;
    }

    .no-gutter > .col-s-5 {
        width: 41.6667%;
    }

    .no-gutter > .col-s-4 {
        width: 33.3333%;
    }

    .no-gutter > .col-s-3 {
        width: 25%;
    }

    .no-gutter > .col-s-2 {
        width: 16.6667%;
    }

    .no-gutter > .col-s-1 {
        width: 8.3333%;
    }

    /* offsetting cols */
    .offset-s-11 {
        margin-left: 93.5%;
    }

    .row [class*="col-"] + .offset-s-11 {
        margin-left: 95.5%;
    }

    .offset-s-10 {
        margin-left: 85%;
    }

    .row [class*="col-"] + .offset-s-10 {
        margin-left: 87%;
    }

    .offset-s-9 {
        margin-left: 76.5%;
    }

    .row [class*="col-"] + .offset-s-9 {
        margin-left: 78.5%;
    }

    .offset-s-8 {
        margin-left: 68%;
    }

    .row [class*="col-"] + .offset-s-8 {
        margin-left: 70%;
    }

    .offset-s-7 {
        margin-left: 59.5%;
    }

    .row [class*="col-"] + .offset-s-7 {
        margin-left: 61.5%;
    }

    .offset-s-6 {
        margin-left: 51%;
    }

    .row [class*="col-"] + .offset-s-6 {
        margin-left: 53%;
    }

    .offset-s-5 {
        margin-left: 42.5%;
    }

    .row [class*="col-"] + .offset-s-5 {
        margin-left: 44.5%;
    }

    .offset-s-4 {
        margin-left: 34%;
    }

    .row [class*="col-"] + .offset-s-4 {
        margin-left: 36%;
    }

    .offset-s-3 {
        margin-left: 25.5%;
    }

    .row [class*="col-"] + .offset-s-3 {
        margin-left: 27.5%;
    }

    .offset-s-2 {
        margin-left: 17%;
    }

    .row [class*="col-"] + .offset-s-2 {
        margin-left: 19%;
    }

    .offset-s-1 {
        margin-left: 8.5%;
    }

    .row [class*="col-"] + .offset-s-1 {
        margin-left: 10.5%;
    }

    /*No gutter margin*/
    .no-gutter > .offset-s-11,
    .no-gutter > [class*="col-"] + [class*="col-"].offset-s-11 {
        margin-left: 91.6667%;
    }

    .no-gutter > .offset-s-10,
    .no-gutter > [class*="col-"] + [class*="col-"].offset-s-10 {
        margin-left: 83.3333%;
    }

    .no-gutter > .offset-s-9,
    .no-gutter > [class*="col-"] + [class*="col-"].offset-s-9 {
        margin-left: 75%;
    }

    .no-gutter > .offset-s-8,
    .no-gutter > [class*="col-"] + [class*="col-"].offset-s-8 {
        margin-left: 66.6667%;
    }

    .no-gutter > .offset-s-7,
    .no-gutter > [class*="col-"] + [class*="col-"].offset-s-7 {
        margin-left: 58.3333%;
    }

    .no-gutter > .offset-s-6,
    .no-gutter > [class*="col-"] + [class*="col-"].offset-s-6 {
        margin-left: 50%;
    }

    .no-gutter > .offset-s-5,
    .no-gutter > [class*="col-"] + [class*="col-"].offset-s-5 {
        margin-left: 41.6667%;
    }

    .no-gutter > .offset-s-4,
    .no-gutter > [class*="col-"] + [class*="col-"].offset-s-4 {
        margin-left: 33.3333%;
    }

    .no-gutter > .offset-s-3,
    .no-gutter > [class*="col-"] + [class*="col-"].offset-s-3 {
        margin-left: 25%;
    }

    .no-gutter > .offset-s-2,
    .no-gutter > [class*="col-"] + [class*="col-"].offset-s-2 {
        margin-left: 16.6667%;
    }

    .no-gutter > .offset-s-1,
    .no-gutter > [class*="col-"] + [class*="col-"].offset-s-1 {
        margin-left: 8.3333%;
    }

    /* pushing cols */
    .push-s-11 {
        left: 93.5%;
    }

    .push-s-10 {
        left: 85%;
    }

    .push-s-9 {
        left: 76.5%;
    }

    .push-s-8 {
        left: 68%;
    }

    .push-s-7 {
        left: 59.5%;
    }

    .push-s-6 {
        left: 51%;
    }

    .push-s-5 {
        left: 42.5%;
    }

    .push-s-4 {
        left: 34%;
    }

    .push-s-3 {
        left: 25.5%;
    }

    .push-s-2 {
        left: 17%;
    }

    .push-s-1 {
        left: 8.5%;
    }

    /*No gutter margin*/
    .no-gutter > .push-s-11 {
        left: 91.6667%;
    }

    .no-gutter > .push-s-10 {
        left: 83.3333%;
    }

    .no-gutter > .push-s-9 {
        left: 75%;
    }

    .no-gutter > .push-s-8 {
        left: 66.6667%;
    }

    .no-gutter > .push-s-7 {
        left: 58.3333%;
    }

    .no-gutter > .push-s-6 {
        left: 50%;
    }

    .no-gutter > .push-s-5 {
        left: 41.6667%;
    }

    .no-gutter > .push-s-4 {
        left: 33.3333%;
    }

    .no-gutter > .push-s-3 {
        left: 25%;
    }

    .no-gutter > .push-s-2 {
        left: 16.6667%;
    }

    .no-gutter > .push-s-1 {
        left: 8.3333%;
    }

    /* pulling cols */
    .pull-s-11 {
        right: 93.5%;
    }

    .pull-s-10 {
        right: 85%;
    }

    .pull-s-9 {
        right: 76.5%;
    }

    .pull-s-8 {
        right: 68%;
    }

    .pull-s-7 {
        right: 59.5%;
    }

    .pull-s-6 {
        right: 51%;
    }

    .pull-s-5 {
        right: 42.5%;
    }

    .pull-s-4 {
        right: 34%;
    }

    .pull-s-3 {
        right: 25.5%;
    }

    .pull-s-2 {
        right: 17%;
    }

    .pull-s-1 {
        right: 8.5%;
    }

    /*No gutter margin*/
    .no-gutter > .pull-s-11 {
        right: 91.6667%;
    }

    .no-gutter > .pull-s-10 {
        right: 83.3333%;
    }

    .no-gutter > .pull-s-9 {
        right: 75%;
    }

    .no-gutter > .pull-s-8 {
        right: 66.6667%;
    }

    .no-gutter > .pull-s-7 {
        right: 58.3333%;
    }

    .no-gutter > .pull-s-6 {
        right: 50%;
    }

    .no-gutter > .pull-s-5 {
        right: 41.6667%;
    }

    .no-gutter > .pull-s-4 {
        right: 33.3333%;
    }

    .no-gutter > .pull-s-3 {
        right: 25%;
    }

    .no-gutter > .pull-s-2 {
        right: 16.6667%;
    }

    .no-gutter > .pull-s-1 {
        right: 8.3333%;
    }
}