/* Responsive Helpers */

/*
 * Responsive helpers to toggle visibility. 
 */
/*
 * Landscape tablet to default desktop: 769 > viewport < 980px
 */
@media screen and (min-width: 48em) and (max-width: 61.1875em) {

    .hidden-small,
    .visible-medium {
        display: inherit !important;
    }

    .visible-small,
    .hidden-medium {
        display: none !important;
    }
}

/*
 * Default desktop up: viewport > 980px
 */
@media screen and (min-width: 61.3125em) {
    .hidden-small,
    .visible-large {
        display: inherit !important;
    }

    .visible-small,
    .hidden-large {
        display: none !important;
    }
}
