/* Responsive Helpers Base v1.0.1 */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
}

    .ir:before {
        content: "";
        display: block;
        width: 0;
        height: 150%;
    }

/*
 * Hide from both screen readers and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

    /*
     * Extends the .visuallyhidden class to allow the element to be focusable
     * when navigated to via the keyboard: h5bp.com/p
     */

    .visuallyhidden.focusable:active,
    .visuallyhidden.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * Float helpers
 */
.push-left {
    float: left!important;
}

.push-right {
    float: right!important;
}

/*
 * Fade opacity with animation
 */
.fade-out {
    -moz-opacity: 0!important;
    opacity: 0!important;
}

/*
 * Layout helpers
 */
.block {
    display: block!important;
}

.inline-block {
    display: inline-block!important;
}

.inline {
    display: inline!important;
}

/*
 * Opacity helper to add to elements to allow fade animation
 */
.fade-in {
    -moz-opacity: 1!important;
    opacity: 1!important;
}

.fade-out, .fade-in {
    -moz-transition: opacity 0.3s linear 0s;
    -o-transition: opacity 0.3s linear 0s;
    -webkit-transition: opacity 0.3s linear 0s;
    transition: opacity 0.3s linear 0s;
}


/*
 * Responsive helpers to toggle visibility. 
 */
.visible-phone {
    display: none !important;
}

.visible-tablet {
    display: none !important;
}

.hidden-desktop {
    display: none !important;
}

.visible-desktop {
    display: inherit !important;
}
