/* Responsive Lists Base */

/* 
 * Unordered and ordered lists 
 * Scale the padding/margin with the base font.
 */
ul, ol {
    margin: 1em 0;
    padding-left: 2.5em;
}

    ul ul, ol ol {
        margin: 0;
    }

    /* 
     * No bullets on first level.
     */
    ul.no-bullets,
    ol.no-bullets {
        padding-left: 0;
    }

        ul.no-bullets > li,
        ol.no-bullets > li {
            list-style: none;
        }

    /* 
     * Coloured lists.
     */
    ul.colored, ol.colored {
        padding-left: 40px;
    }

        ul.colored > li, ol.colored > li {
            list-style-type: none;
            position: relative;
        }

            /*
             * 1. Escaped unicode coloured circle.
             * 2. Edit this property to change all colored class lists.
             * 3. Normalize funky webkit margin
             */
            ul.colored > li:before,
            ol.colored > li:before {
                content: "\25CF"; /* 1 */
                color: #00a9ec; /* 2 */
                font-weight: bold;
                font-size: 1em;
                text-align: right;
                position: absolute;
                left: -1em;
                top: 0;
                text-decoration: none;
                -webkit-margin-start: -.25em; /* 3 */
            }

    /* 
     * Counter increment to replace standard numbers.
     */
    ol.colored {
        counter-reset: foo;
    }

        ol.colored > li {
            counter-increment: foo;
        }

            /* 
             * Use the :before pseudo element to supply numbers.
             * 1. The counter value.
             * 2. Normalize funky webkit margin
             */
            ol.colored > li:before {
                content: counter(foo)"."; /* 1 */
                left: -3.125em;
                font-weight: normal;
                width: 2.5em;
                -webkit-margin-start: 0; /* 2 */
            }

/* 
 * Prevent dt and dd collapse.
 */
dt, dd {
    min-height: 1.4em;
}
