/* Responsive Tables*/
@media (max-width: 47.99em) {
    /*
 * Basic layout.
 */
    [data-table-list] {
        opacity: 0;
    }

    .table-list {
        display: block;
    }

        .table-list thead,
        .table-list tfoot,
        .table-list th {
            display: none;
        }

            .table-list tbody,
            .table-list tr,
            .table-list td,
            .table-list th[scope="row"] {
                display: block;
            }

                .table-list tr:before,
                .table-list tr:after {
                    content: "";
                    display: table;
                }

                .table-list tr:after {
                    clear: both;
                }

            .table-list td,
            .table-list th[scope="row"] {
                float: left;
                width: 100%;
            }

                .table-list td:before,
                .table-list td:after,
                .table-list th[scope="row"]:before,
                .table-list th[scope="row"]:after {
                    content: attr(data-thead);
                    font-weight: bold;
                    display: block;
                    padding: .5em 0;
                }

                .table-list td:after,
                .table-list th[scope="row"]:after {
                    content: attr(data-tfoot);
                }

        /*
         * Bordered
         */
        .table-list.table-bordered {
            border-top-style: none;
        }
}
