.tabs {
    position: relative;
}

    .tabs > ul {
        list-style: none;
        border-bottom: 1px solid #c0c0c0;
        padding: 0;
        margin-top: 0;
    }

        .tabs > ul:before, .tabs > ul:after {
            content: "";
            display: table;
        }

        .tabs > ul:after {
            clear: both;
        }

        .tabs > ul > li {
            float: left;
            margin-bottom: -1px;
        }

            .tabs > ul > li > a {
                text-decoration: none;
                display: block;
                cursor: pointer;
                padding: 0 1em;
                line-height: 2em;
                border: 1px solid transparent;
                margin-right: .2em;
                outline: none;
            }

                .tabs > ul > li > a:hover {
                    background-color: #ebebeb;
                    border-color: #c0c0c0;
                }

            .tabs > ul > li.tab-active > a,
            .tabs > ul > li.tab-active > a:hover {
                color: #454545;
                cursor: default;
                background-color: #fff;
                border: 1px solid #c0c0c0;
                border-bottom-color: transparent;
            }

    .tabs > * {
        display: none;
    }

        .tabs > ul,
        .tabs > *.tab-pane-active {
            display: block;
        }
