@model dynamic
@{
    ViewBag.Title = "Responsive :: Builder";

    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1 class="masthead">Builder</h1>
<div>
    <div class="row">
        <h1>Responsive</h1>
        <div class="column-4">
            <a href="/home/responsive" target="_blank" class="btn">CSS</a>
            <h1>Responsive Legacy</h1>
            <a href="/home/responsivelegacy" target="_blank" class="btn">CSS</a>
        </div>
        <div class="column-4">
            <a href="/home/responsivejs" target="_blank" class="btn">JS</a>
        </div>
    </div>
</div>
