@model dynamic
@{
    ViewBag.Title = "Responsive :: Builder";

    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1 class="masthead">Builder</h1>
<div>
    <div class="row">
        <h1>Responsive</h1>
        <div class="column-4">
            <a href="/css.axd?path=responsive.css" target="_blank" download="responsive.min.css" class="btn">CSS</a>
            <a href="/home/responsive" target="_blank" class="btn">CSS</a>
            <h1>Responsive Legacy</h1>
            <a href="/css.axd?path=responsive-legacy.css" target="_blank" download="responsive-legacy.min.css" class="btn">CSS</a>
        </div>
        <div class="column-4">
            <a href="/js.axd?path=responsive.utils.js|responsive.autosize.js|responsive.carousel.js|responsive.dismiss.js|responsive.dropdown.js|responsive.lightbox.js|responsive.tabs.js" target="_blank" download="responsive.js" class="btn">JS</a>
        </div>
    </div>
</div>
