---
layout: master
---
<header role="banner">
    {% include breadcrumb.html %}<div class="container row">
        <div class="col-m-6">
            <h1>
                {{page.heading}}
                <span>{{page.subheading}}</span>
            </h1>
        </div>
        <div class="col-m-6">
            <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=responsivebp" id="_carbonads_js"></script>
        </div>
    </div>
</header>
<div class="container row">
    <nav class="col-m-3" role="complementary">
        <h3>Contents</h3>
        {% include subnav.html %}
    </nav>
    <article class="col-m-9">
        {{ content }}
    </article>
</div>
