.alert {
    @extend .clearfix;
    position: relative;
    margin: 1rem 0;
    padding: 0 1rem;
    background-color: $alert-color-scheme;
    border: 1px solid darken($alert-color-scheme, 20);
    color: darken($alert-color-scheme, 70);

    .close {
        position: relative;
        right: -2.73rem;
        top: .13rem;
        float: right;
        color: inherit;
        font-size: 1.17rem;
        font-weight: bold;

        [dir="rtl"] & {
            float: left;
            right: auto;
            left: -2.73rem;
        }

        &,
        &:active,
        &:focus,
        &:hover {
            background-color: transparent;
            border: none;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}

.alert-dismissable {
    padding-right: 2.87rem;

    [dir="rtl"] & {
        padding-right: 1rem;
        padding-left: 2.87rem;
    }
}

.alert-heading {
    color: inherit;
}
