.alert {
    @extend .clearfix;
    background-color: lighten($alert-color-scheme, 20);
    border: 1px solid $alert-color-scheme;
    color: darken($alert-color-scheme, 50);
    margin: 1em 0;
    padding: 0 2.17em 0 1em;

    .close {
        color: inherit;
        float: right;
        font-size: 1.17em;
        font-weight: bold;
        line-height: 1em;
        position: relative;
        right: -1.17em;
        text-decoration: none;
        top: .33em;

        &:hover {
            text-decoration: underline;
        }
    }
}

.alert-heading {
    color: inherit;
}
