.alert {
    @extend .clearfix;
    background-color: $alert-color-scheme;
    border: 1px solid darken($alert-color-scheme, 20);
    color: darken($alert-color-scheme, 70);
    margin: 1em 0;
    padding: 0 2.17em 0 1em;

    .close {
        color: inherit;
        float: right;
        font-size: 1.17em;
        font-weight: bold;
        line-height: 1em;
        position: relative;
        right: -1.73em;
        top: .13em;

        &,
        &:active,
        &:focus,
        &:hover {
            background-color: transparent;
            border: none;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}

.alert-heading {
    color: inherit;
}
