// Normalize
.form {
    margin: 1rem 0;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

legend {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

label {
    &,
    .input-group {
        display: block;
        margin-bottom: 1rem;
    }

    &[for] {
        cursor: pointer;
    }

    > input,
    > input[type='checkbox'],
    > input[type='radio'],
    > select {
        display: inline-block;
        margin: 0 1rem 0 0;
        vertical-align: text-top;

        [dir=rtl] & {
            margin: 0 0 0 1rem;
        }
    }
}

select,
textarea,
input,
.readonly {
    background: $form-input-background;
    border: $form-input-border;
    border-radius: $form-input-border-radius;
    color: $form-input-color;
    display: block;
    font-family: inherit;
    line-height: $form-line-height;
    margin-bottom: 1rem;
    padding: .25rem;
    width: 100%;
    // Disabled
    // 1. Add cursor for disabled elements.
    // 2. Fix IOS 6/7 opacity issue
    fieldset[disabled] &,
    &[disabled] {
        background: $form-input-background-disabled;
        border-color: $form-input-border-color-disabled;
        color: $form-input-color-disabled;
        cursor: not-allowed; // 1
        opacity: 1; // 2
    }
}

// Clean up that hideous file input.
input[type='file']::-ms-value {
    background: $form-input-background;
    border: none;
}

input[type='file']::-ms-browse {
    -webkit-appearance: none;
    background: $button-background;
    border: $button-border;
    color: $form-input-color;

    &:active {
        background-color: lighten($button-background, 5);
    }
}

input[type='file']::-webkit-file-upload-button {
    -webkit-appearance: none;
    border-radius: 0;
    background: $button-background;
    border: $button-border;
    color: $form-input-color;

    &:active {
        background-color: lighten($button-background, 5);
    }
}

input[type='color'] {
    max-width: 6.563rem;
}

// Declared separately to reduce selector duplication for padding
input[type='radio'],
input[type='checkbox'] {
    min-height: 1.334rem;
    min-width: 1.334rem;
    margin-bottom: 1.1rem;
    padding: 0;
    width: auto;
}

// Remove border in IE9
input[type='radio'] {
    border: none \9;
}

// Add range styles for IE9
input[type='range'] {
    border: 1px solid transparent;
    border: 1px solid #c0c0c0 \9;
    background-color: #fff \9;
    padding: .25rem 0;
    padding: .25rem\9;
}

// 1. Remove borders and padding on range controls in IE10+
_::-ms-reveal,
input[type='range'] { // 1
    border: 1px solid transparent;
}

// Fix field styling on iPhone and iPad.
// 1. Strip OS styling on IOS
select,
textarea,
input[type='text'],
input[type='search'],
input[type='datetime'],
input[type='datetime-local'],
input[type='date'],
input[type='week'],
input[type='month'],
input[type='time'],
input[type='number'],
input[type='password'],
input[type='tel'],
input[type='email'],
input[type='url'],
input[type='color'] {
    -webkit-appearance: none; // 1
}

select option {
    height: 100%;
}

// Textareas : Multiple resizable options.
// 1: Horizontal
// 2: Vertical
// 3: None
textarea {
    height: auto;
    min-height: 5.25rem;
    resize: both;

    &.horizontal {
        resize: horizontal; // 1
    }

    &.vertical {
        resize: vertical; // 2
    }

    &.no-resize {
        resize: none; // 3
    }
}

// Read only
.readonly,
[readonly] {
    background-color: $form-input-background-readonly;
    border-color: $form-input-border-color-readonly;
    color: $form-input-color-readonly;
    cursor: not-allowed;
}

// Placeholder 
::placeholder {
    color: $form-placeholder;
}

@-moz-document url-prefix() {
    // Remove excess padding in Firefox
    input[type='color'] {
        min-height: 1.8rem;
        padding: 0;
    }
}

@media (-webkit-min-device-pixel-ratio:0) {
    // Fix changing height issues on iOS7.
    input[type='datetime-local'],
    input[type='date'],
    input[type='week'],
    input[type='month'],
    input[type='time'],
    input[type='number'] {
        min-height: 2rem;
    }

    // Remove excess padding in Webkit
    input[type='color'] {
        min-height: 1.8rem;
        padding: 0;

        &::-webkit-color-swatch-wrapper {
            padding: 0;
        }

        &::-webkit-color-swatch {
            border: none;
        }
    }

    // Fix field styling on iPhone and iPad.
    // 1. Add a select indicator
    select {
        background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMSIgaGVpZ2h0PSIxMC41Ij48cG9seWdvbiBmaWxsPSIjMjIyIiBwb2ludHM9IjExLDAgNS41LDkgMCwwIi8+PC9zdmc+'); // 1
        background-repeat: no-repeat;
        background-position: right .6rem center;
        padding-right: 1.67rem;

        [dir=rtl] & {
            background-position: .6rem center;
            padding-right: 0;
            padding-left: 1.67rem;
        }
    }
}

// Inline
input.inline-block,
select.inline-block {
    width: auto;
}

// Actions - Contains buttons
.form-actions {
    margin: 1rem 0;
    padding: 1rem 0;
}
