/*
 * Unordered and ordered lists
 * Scale the padding/margin with the base font.
 */
ul,
ol {
    margin: 1em 0;
    padding-left: 2.5em;

    [dir="rtl"] & {
        padding-left: 0;
        padding-right: 2.5em;
    }
}

ul ul,
ol ol {
    margin: 0;
}

/*
 * No bullets on first level.
 */
ul.no-bullets,
ol.no-bullets {
    padding-left: 0;

    [dir="rtl"] & {
        padding-right: 0;
    }

    & > li {
        list-style: none;
    }
}

/*
 * Coloured lists.
 */
ul.colored,
ol.colored {
    padding-left: 40px;

    & > li {
        list-style-type: none;
        position: relative;
        /*
         * 1. Normalize funky webkit margin
         * 2. Escaped unicode coloured circle.
         * 3. Edit this property to change all colored class lists.
         */
        &:before {
            position: absolute;
            top: 0;
            left: -1em;
            -webkit-margin-start: -.25em; /* 1 */
            content: "\25cf"; /*2 */
            color: $list-colored-bullet; /* 3 */
            font-size: 1em;
            font-weight: bold;
            text-align: right;
            text-decoration: none;

            [dir="rtl"] & {
                left: auto;
                right: -1em;
                text-align: left;
            }
        }
    }
}

/*
 * Counter increment to replace standard numbers.
 */
ol.colored {
    counter-reset: foo;

    > li {
        counter-increment: foo;
        /*
		 * Use the :before pseudo element to supply numbers.
		 * 1. The counter value.
		 * 2. Normalize funky webkit margin
		 */
        &:before {
            content: counter(foo) "."; /* 1 */
            font-weight: normal;
            left: -3.125em;
            width: 2.5em;
            -webkit-margin-start: 0; /*2 */
            [dir="rtl"] & {
                left: auto;
                right: -3.125em;
            }
        }
    }
}

/**Definition lists 
 * Prevent dt and dd collapse.
 */
dt, dd {
    min-height: 1.4em;
}

@include bp-min(s) {
    /*
	 * Horizontally styled definition list
	 */
    .dl-horizontal {
        & > dt {
            clear: left;
            float: left;
            width: 9.375em;
            white-space: nowrap;
            overflow: hidden;
            text-align: right;
            text-overflow: ellipsis;

            [dir="rtl"] & {
                clear: right;
                float: right;
                text-align: left;
            }
        }

        & > dd {
            margin-left: 10.375em;

            [dir="rtl"] & {
                margin-left: auto;
                margin-right: 10.375em;
            }
        }
    }
}
