@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="/css.axd?path=responsive.css" rel="stylesheet" media="all and (min-width: 1em)" />
    <!--[if lt IE 9 &!(IEMobile)]>
      <link href="/css.axd?path=responsive-legacy.css" rel="stylesheet" />
    <![endif]-->
</head>
<body>
    <div class="container">
        @this.RenderBody()
    </div>
    <script src="/js.axd?path=jquery"></script>
    <script src="/js.axd?path=responsive.js"></script>
</body>

</html>
